<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.rastreiopacienteoficial">

    <application
            android:allowBackup="true"
            android:icon="@drawable/icone_do_app"
            android:label="Rastreio de Pacientes"
            android:roundIcon="@drawable/icone_do_app"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
           // android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        <activity android:name=".Editar_Atendimento">
        </activity>
        <activity android:name=".ProcurarAtendimento">
        </activity>
        <activity android:name=".TelaSelecaoOpccao">
        </activity>
        <activity android:name=".ProcurarPaciente">
        </activity>
        <activity android:name=".Cadastro_atendimento">
        </activity>
        <activity android:name=".Cadastro_paciente">
        </activity>
        <activity android:name=".Edita_paciente">
        </activity>
        <activity android:name=".CadastrarUsuario">
        </activity>
        <activity android:name=".Login">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>